
            body {
                font-family: 'ヒラギノ角ゴ ProN W3', 'ヒラギノ丸ゴ ProN W4', 'メイリオ';
                overflow-y: hidden;
            }

            #map {
                width: 100%;
                height: 70vh;
            }

            .leaflet-bottom {
                z-index: 0;
            }

            h3 {
                color: white;
                background-color: #4169e1;
                padding: 1px;
                border-bottom: solid 5px skyblue;
                position: relative;
                border-radius: 0.5em;
                /*letter-spacing: 0.1em;:/
                /*background: url(images/topicon.png) no-repeat;*/
            }

            h3:after {
               position: absolute;
               content: " ";
               display: block;
               border-bottom: solid 5px #90ee90;
               bottom: -5px;
               width: 30%;
            }

            h3::first-letter {
                font-size: 1.2em;
                color: #ff7f50;
            }

            input#current_loc {
                width: 90px;
                height: 30px;
                font-size: 16px;
                position: absolute;
                right: 5%;
                z-index: 1;
                display: inline-block;
                text-decoration: none;
                background: #668ad8;/*ボタン色*/
                color: #FFF;
                border-bottom: solid 4px #627295;
                border-radius: 3px;
            }

            #back {
                font-size: 14px;
                position: absolute;
                left: 5%;
                z-index: 2;
            }

            table {
                border-collapse: collapse;
                table-layout: fixed;
            }

            #tooltip_table {
                margin-top: 1em;
            }

            #tooltip_img {
                width: auto;
                max-height: 25vh;
                height: 25vh;
            }

            #top_img {
                width: auto;
                max-height: 10vh;
                height: 10vh;
            }

            #button {
                margin-top: .3em;
                width: 50%;
                float: right;
            }

            #return {
                margin-top: .3em;
                width: 80%;
                float: left;
                font-size: 14px;
            }

            td {
                font-size: 16px;
                text-align: left;
                vertical-align: top;
            }

            #description {
                font-size: 12px;
            }

            # back {
                font-size: 12px;
            }

            .footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 30px;
                clear: left;
                border-top: 1px solid #CCC;
                text-align: center;
                font-size: 10px;
                padding: 0;
                /*background-color: #fafafa;*/
                background-color: #333333;
            }

            .footer2 {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 65px;
                font-size: 10px;
                padding: 0;
                background-color: #ffffff;
            }

            @media screen and ( max-width:750px) {
                h2 {
                    color: #f00;
                }
                #description {
                    font-size: 12px;
                }
                input#current_loc {
                    width: 100px;
                    height: 30px;
                    font-size: 16px;
                    display: inline-block;
                    text-decoration: none;
                    background: #668ad8;/*ボタン色*/
                    color: #FFF;
                    border-bottom: solid 4px #627295;
                    border-radius: 3px;
                }
                #tooltip {
                    width: 70%;
                    float: left;
                }
                #tooltip_img {
                    width: 80%;
                    max-width: 80%;
                    height: auto;
                }
                #button {
                    margin-top: 0em;
                    margin-right: 1em;
                    width: 60%;
                    float: right;
                }
                .footer {
                    width: 100%;
                    clear: left;
                    border-top: 1px solid #CCC;
                    text-align: center;
                    font-size: 10px;
                    margin-top: 13em;
                    padding: 0;
                }
            }
